<% include ./partials/header %>

<div class="container">
    <img class="header" src="img/inner-banner.jpg">


    <div class="row text-center">

      <div class="col-lg-3 col-md-4 mb-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="http://currentaffairsandgk.com/wp-content/uploads/2015/03/banks.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Public Banks</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mb-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="http://www.bankingfinance.in/wp-content/uploads/2017/09/aLL-BANK.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Private Banks</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mb-4 col-sm-6 ">
        <div class="card">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">SFC's</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 mb-4 col-sm-6">
        <div class="card">
          <img class="card-img-top" src="https://www.vccircle.com/wp-content/uploads/2014/12/VCCircle_Logo_Collage-4.png" alt="">
          <div class="card-body">
            <h4 class="card-title">NBFCs</h4>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
<% include ./partials/footer %>