<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Powered By :Government of India</p>
    </div>

  </footer>

  <script src="jquery/jquery.js"></script>
  <script src="javascript/bootstrap.bundle.js"></script>


</html>