<link href="stylesheets/login.css" rel="stylesheet">
<link href="stylesheets/bootstrap.css" rel="stylesheet">
<div class="wrapper">
  <form class="form-signin" method="POST" action="/adminlogin">       
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
  </form>
</div>