<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link href="stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="stylesheets/admin.css" rel="stylesheet" />

</head>
<% if (!currentUser.isAdmin) { %>
     <h1>You are not Admin Please SignIn Again</h1>
     <a href="/adminlogin">GO Back</a>
<% } else { %>

<body>
     <div id="wrapper">

       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
           <a class="navbar-brand" href="#">National Registry</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                 <a class="nav-link" href="index.html">Home
                   <span class="sr-only">(current)</span>
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="index.html">Organisation</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#">Schemes</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="login.html">Login |Register</a>
               </li>
             </ul>
           </div>
         </div>
       </nav>
       <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="/orgnew">Add Organisation</a>
                    </li>
                    <li>
                        <a href="blank.html">View Organisations</a>
                    </li>
                    <li>
                        <a href="#">Add Schemes</a>
                    </li>
                    <li>
                        <a href="#">View Schemes</a>
                    </li>
                  </ul>
                </div>
        </nav>

        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>Organisation Dashboard</h2>
                   </div>
                </div>
              <hr />
            </div>

          </div>
<% } %>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
