<% include ./partials/OHeader %>
<div class="container">
<header class="jumbotron">
    <div class="container">
<h1>Welcome to Dashboard</h1>
<p>Here you can Add, Delete , Update Various Details</p>
<a class="btn btn-primary btn-large" href="/branch/new">Add New Branch</a>
<a class="btn btn-primary btn-large" href="/logout">Logout</a>
</div>   
</header>
</div>
<% include ./partials/OFooter %>